<%- contentFor('body') %>

<main>
  <h2>Update Book</h2>
  <form action="/api/books/<%= book.id %>?_method=PATCH" method="POST">
    <div class="form-row">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          value="<%= book.title %>"
          placeholder="Enter book title"
          required
        />
      </div>

      <div class="form-group mb-3">
        <label for="author" class="form-label">Author</label>
        <input
          type="text"
          class="form-control"
          id="author"
          name="author"
          value="<%= book.author %>"
          placeholder="Enter author's name"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group mb-3">
        <label for="isbn" class="form-label">ISBN</label>
        <input
          type="text"
          class="form-control"
          id="isbn"
          name="isbn"
          value="<%= book.isbn %>"
          placeholder="Enter ISBN number"
          required
        />
      </div>

      <div class="form-group mb-3">
        <label for="copies" class="form-label">Number of Copies</label>
        <input
          type="number"
          class="form-control"
          id="copies"
          name="copies"
          value="<%= book.copies%>"
          placeholder="Enter number of copies"
          required
        />
      </div>
    </div>

    <button type="submit" class="btn btn-dark">Edit</button>
  </form>
</main>
